{% load static %} {% load socialaccount %} {% providers_media_js %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if title %}
        <title>Django App - {{ title }}</title>
    {% else %}
        <title>Django App</title>
    {% endif %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{% static 'main/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'main/style.css' %}">
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="/">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor02">
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <a class="nav-link active" href="{% url 'main-home' %}">Home
                <span class="visually-hidden">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'non-followers' %}">Non-Followers</a>
            </li>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'mutual-followers' %}">Mutual Followers</a>
          </li>
          </ul>
          <ul class="navbar-nav ms-auto">
            {% if user.is_authenticated %}
              <li class="nav-item dropdown no-arrow">
                <div class="dropdown">
                  {% for user_info in user_profile_twitter %}
                  <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="{{user_info.profile_image_url}}" alt="" width="32" height="32" class="rounded-circle me-2">
                    <strong>{{ user_info.screen_name }}</strong>
                  </a>
                  {% endfor %}
                <div class="dropdown-menu" data-bs-popper="static">
                  <a class="dropdown-item" href="#">
                    <i class="bi bi-person"></i>
                    Profile
                  </a>
                  <a class="dropdown-item" href="#">
                    <i class="bi bi-gear"></i>
                    Settings
                  </a>
                  <a class="dropdown-item" href="#">
                    <i class="bi bi-sliders"></i>
                    Activity Log
                  </a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="{% url 'account_logout' %}">
                    <i class="bi bi-box-arrow-right"></i>
                    Logout
                  </a>
                </div>
              </li>
            {% else %}
              </li>
              <li class="d-flex">
                <a href="{% provider_login_url "twitter" %}"
                class="btn btn-secondary">
                  <i class="fa-brands fa-twitter"></i>
                  Login
                </a>
              </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      <br>
      {% block content %}{% endblock %}
    </div>
    <!-- Footer -->
    <footer class="bg-dark text-center text-white py-3">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <h5>About Us</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam rhoncus consequat sem eu aliquam. Sed quis lorem at est dignissim efficitur. Nunc lobortis libero sit amet nisi vehicula auctor.</p>
          </div>
          <div class="col-md-4">
            <h5>Our Services</h5>
            <ul class="list-unstyled">
              <li>Service 1</li>
              <li>Service 2</li>
              <li>Service 3</li>
            </ul>
          </div>
          <div class="col-md-4">
            <h5>Contact Us</h5>
            <ul class="list-unstyled">
              <li><i class="fa fa-map-marker"></i> 1234 Main St, Suite 200, Los Angeles, CA 90025</li>
              <li><i class="fa fa-phone"></i> +1 555 555 5555</li>
              <li><i class="fa fa-envelope"></i> info@example.com</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <p>&copy; Your Website 2023 - All rights reserved.</p>
          </div>
        </div>
      </div>
    </footer>
    <!-- End of Footer -->
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  </body>
</html>